In [1]:
pair = (1, 2)

In [2]:
pair

(1, 2)

In [3]:
type(pair)

tuple

In [4]:
pair[0]

1

In [5]:
pair[1]

2

In [6]:
pair[0] = 3

TypeError: 'tuple' object does not support item assignment

In [7]:
tup_of_lists = ([1,2,3],[4,5,6])

In [8]:
tup_of_lists

([1, 2, 3], [4, 5, 6])

In [9]:
tup_of_lists[0].append(7)

In [10]:
tup_of_lists

([1, 2, 3, 7], [4, 5, 6])

In [11]:
pair[0].append(4)

AttributeError: 'int' object has no attribute 'append'

In [12]:
def put_in_order(m,n):
    if m > n:
        return (n,m)
    else:
        return (m,n)

In [13]:
put_in_order(3,1)

(1, 3)

In [14]:
put_in_order(1,5)

(1, 5)

In [17]:
# you can use tuples in multi variable assignment
smaller, larger = put_in_order(4,2)

In [18]:
print (smaller, larger)

2 4

In [19]:
len(tup_of_lists)

2

In [21]:
### Exercise, write a function called descending that puts numbers in decreasing order, and use the function to assign the return values of 
### function to variables larger and smaller

In [23]:
def descend(num1, num2):
    if num1 > num2:
        return (num1, num2)
    else:
        return (num2, num1)

In [25]:
larger, smaller = descend(3, 7)
print(larger, smaller)

7 3

In [26]:
descend(1,4) == (4,1)

True

In [27]:
students = {"t00144808":"Kevin"}
students

{'t00144808': 'Kevin'}

In [28]:
type(students)

dict

In [29]:
students[t00144808]

NameError: name 't00144808' is not defined

In [30]:
students["t00144808"]

'Kevin'

In [31]:
len(students)

1

In [32]:
students["t00155909"] = ("Bob", "Jones", 3, "ITS")

In [33]:
students

{'t00144808': 'Kevin', 't00155909': ('Bob', 'Jones', 3, 'ITS')}

In [34]:
students["t00155909"]

('Bob', 'Jones', 3, 'ITS')

In [35]:
students["t00144808"] = ("Kevin", "O Sullivan", 3, "ITS")

In [36]:
students

{'t00144808': ('Kevin', 'O Sullivan', 3, 'ITS'),
 't00155909': ('Bob', 'Jones', 3, 'ITS')}

In [38]:
for k, v in students.items():
    print(k, v)

t00144808 ('Kevin', 'O Sullivan', 3, 'ITS')
t00155909 ('Bob', 'Jones', 3, 'ITS')

In [39]:
for k, v in students.items():
    print(k, v)

t00144808 ('Kevin', 'O Sullivan', 3, 'ITS')
t00155909 ('Bob', 'Jones', 3, 'ITS')

In [40]:
students

{'t00144808': ('Kevin', 'O Sullivan', 3, 'ITS'),
 't00155909': ('Bob', 'Jones', 3, 'ITS')}

In [41]:
students

{'t00144808': ('Kevin', 'O Sullivan', 3, 'ITS'),
 't00155909': ('Bob', 'Jones', 3, 'ITS')}

In [42]:
for k, v in students.items():
    i = 0
    print(k, v[i])
    i += 1

t00144808 Kevin
t00155909 Bob

In [43]:
for k, v in students.items():
    print(k, v[1])

t00144808 O Sullivan
t00155909 Jones

In [47]:
for k, v in students.items():
    print(v[1])

O Sullivan
Jones

In [53]:
for value in students.values():
    print(value[1])

O Sullivan
Jones